{% extends "base.html" %}

{% block title %}
Projeto Presenças - Menu principal
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
{% endblock %}

{% block content %}

<main class="d-flex flex-column my-5 mx-auto gap-4 justify-content-center">
    <a class="botao-menu p-3 mx-auto my-2" href="{{ url_for('formulario.index_formulario_criacao_artista') }}">Cadastrar artista</a>
    <a class="botao-menu p-3 mx-auto my-2" href="{{ url_for('formulario.index_formulario_adicao_obras_artista') }}">Cadastrar obras de um artista existente</a>
    {% if current_user.e_adm %}
        <a class="botao-menu p-3 mx-auto my-2" href="{{ url_for('cadastro.criar_usuario') }}">Cadastrar novo usuário</a>
        <a class="botao-menu p-3 mx-auto my-2" href="{{ url_for('cadastro.remover_usuario') }}">Remover usuário</a>
    {% endif %}
</main>

{% endblock %}