{% extends "base.html" %}
{% from "formularios/macros.html" import renderiza_campo, renderiza_erro_campo with context %}
{% block title %}

Projeto Presenças - Alterar senha

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/formulario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cadastro_remocao.css') }}">
{% endblock %}

{% block content %}

    <main class="p-4 mx-auto my-auto">

        <form class="d-flex flex-column" method="POST">
            {{ form.csrf_token }}

            <div class="d-flex flex-column mb-5 mt-3 w-100 animacao-entrada">
                {{ renderiza_campo(form.senha, "mb-2", "", '<span><i class="fa-solid fa-key pe-2"></i>Senha</span>') }}
                {{ renderiza_erro_campo(form.senha.name, "flex-column" if form.erros.get('senha') and
                    form.erros.get('senha') is iterable and form.erros.get('senha') is not string else "") }}
            </div>

            <div id="verificador-minimalidade-senha" class="verificador-minimalidade-senha mb-4">
                <div class="verificador-10-caracteres">
                    <i class="fa-solid fa-xmark pe-1"></i> A senha contém 10 caracteres ao menos
                </div>
                <div class="verificador-letras">
                    <i class="fa-solid fa-xmark pe-1"></i> A senha contém uma letra maiúscula e minúscula ao menos
                </div>
                <div class="verificador-numero">
                    <i class="fa-solid fa-xmark pe-1"></i> A senha contém um número ao menos
                </div>
                <div class="verificador-caractere-especial">
                    <i class="fa-solid fa-xmark pe-1"></i> A senha contém um caractere especial ao menos
                </div>
            </div>

            <div class="d-flex flex-column mb-5 mt-3 w-100 animacao-entrada">
                {{ renderiza_campo(form.confirmar_senha, "mb-2 mt-2", "", '<span><i class="fa-solid fa-key pe-2"></i>Confirmar a senha</span>') }}
                {{ renderiza_erro_campo(form.confirmar_senha.name) }}
            </div>

            <button id="botao-cadastrar" type="submit" disabled class="botao botao-criar p-3 d-block w-100">
                Alterar senha
            </button>
        </form>

    </main>

<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/controlador_senha.min.js') }}"></script>

{% endblock %}