input[type='checkbox']:checked {
    box-shadow: var(--box-shadow-entradas);
}

.botao {
    font-weight: var(--intensidade-fonte-botoes-labels);
}

.verificador-minimalidade-senha {
    font-weight: 500;
    font-size: 1.2rem;
}

.verificador-minimalidade-senha i {
    font-size: 1.2rem;
    color: var(--vermelho);
}

@media (max-width: 768px) {
    span {
        font-size: 0.9rem;
    }

    .verificador-minimalidade-senha {
        font-size: 0.9rem;
    }

    .verificador-minimalidade-senha i {
        font-size: 1.2rem;
        color: var(--vermelho);
    }
}