main {
    width: 50%;
    min-width: 300px;
}

textarea {
    max-height: 50vh;
}

.multicampos {
    width: 100%;
}

.multicampos::placeholder {
    font-size: 1em;
}

::placeholder {
    font-size: 0.9rem;
}

.animacao-entrada {
    position: relative;
}

.animacao-entrada span {
    position: absolute;
    color: var(--cor-label-inputs-form);
    top: -7%;
    left: 0%;
    transition: all 0.5s;
}

.animacao-entrada input:not(:placeholder-shown) + span,
.animacao-entrada input:focus + span,
.animacao-entrada textarea:not(:placeholder-shown) + span,
.animacao-entrada textarea:focus + span {
  transform: translateY(-60%);
}

.enviar-arquivo {
    position: relative;
    max-width: fit-content;
    border-radius: 8px;
    border: transparent;
    background-color: var(--cor-botao-criacao-envio);
    color: var(--prata);
    font-weight: var(--intensidade-fonte-botoes-labels);
    padding: calc(1rem * .75) !important;
}

.enviar-arquivo:hover {
    background-color: var(--cor-botao-criacao-envio-hover);
}

.animacao-entrada input:focus, .animacao-entrada input:not(:placeholder-shown),
.animacao-entrada textarea:focus, .animacao-entrada textarea:not(:placeholder-shown),
.animacao-entrada input[type = "file"]:valid, input[type = "date"]:valid {
    border-color: var(--verde-principal);
    box-shadow: var(--box-shadow-entradas);
}

.animacao-entrada input:focus + span,
.animacao-entrada textarea:focus + span {
  color: var(--vermelho);
}

span {
    font-weight: var(--intensidade-fonte-botoes-labels);
}

input, textarea, input[type = "file"]:invalid {
    border: transparent;
    border-block-end: 2px solid var(--vermelho-escuro);
    background: transparent;
    color: var(--cor-label-inputs-form);
    font-weight: 500;
    font-size: 1.5rem;
    outline: none;
    box-shadow: 0 8px 6px -4px var(--vermelho-escuro);
}

input[type="submit"] {
    font-size: 1.2rem;
    font-weight: var(--intensidade-fonte-botoes-labels);
}

fieldset .interno {
    border: 3px var(--verde-principal) solid;
    border-radius: var(--tamanho-borda-campos-cards);
    box-shadow: 1px 1px 5px 2px var(--preto-semi-transparente);
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-weight: 700;
}

.botao:disabled, .botao:disabled:hover {
    background-color: var(--cinza);
}

.botao-adicionar, .botao-adicionar:active {
    background-color: var(--verde-claro-botao-barra-carregamento);
    color: var(--branco);
    font-weight: var(--intensidade-fonte-botoes-labels);
}

.botao-adicionar:hover {
    background-color: var(--verde-claro-botao-barra-carregamento-hover);
}

.botao-remover, .botao-remover:active {
    background-color: var(--vermelho-botao-remover);
    color: var(--branco);
    font-weight: var(--intensidade-fonte-botoes-labels);
}

.botao-remover:hover {
    background-color: var(--vermelho-botao-remover-hover) !important;
}

input[type="file"] {
    display: none !important;
}

[id *= "erro"] {
    background-color: var(--vermelho-fundo-erros);
    color: var(--branco);
    height: auto;
    font-size: 1.3rem;
}

.opaco {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(8px);
    z-index: 3;
    position: fixed;
    width: 100% !important;
    height: 100% !important;
}

#barra-carregamento {
    background-color: var(--verde-claro-botao-barra-carregamento);
}

@media (max-width: 768px) {
    main {
        width: 80%;
    }

    span {
        font-size: 0.8rem;
    }

    fieldset .interno input, textarea {
        font-size: .75rem !important;
    }
}