main {
    background-color: rgba(234, 233, 233, 0.4);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 50%;
    min-height: 100%;
}

input {
    font-size: 1.2rem;
}

textarea {
    font-size: 1.2rem;
    max-height: 50vh;
}

.multicampos {
    width: 100%;
}

.multicampos::placeholder {
    font-size: 1rem;
}

::placeholder {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    main {
        width: 70%;
    }

    input {
        width: 100%;
        font-size: 1.2rem;
    }
    
    textarea {
        width: 100%;
        font-size: 1.2rem;
    }

    span {
        font-size: 0.8rem;
    }
}

.animacao-entrada {
    position: relative;
}

.animacao-entrada span {
    position: absolute;
    color: rgb(47, 46, 46);
    top: -7%;
    left: 0%;
    transition: all 0.5s;
}

.animacao-entrada input:not(:placeholder-shown) + span,
.animacao-entrada input:focus + span,
.animacao-entrada textarea:not(:placeholder-shown) + span,
.animacao-entrada textarea:focus + span {
  transform: translateY(-60%);
}

.enviar-arquivo {
    position: relative;
    max-width: fit-content;
    border-radius: 8px; border: transparent;
    background-color: rgba(20, 3, 251, 0.9);
    color: #d5d5d5;
    font-weight: 600;
    padding: calc(1rem * .75) !important;
}

.enviar-arquivo:hover {
    background-color: rgba(20, 3, 251, 0.6);
}

.animacao-entrada input:focus, .animacao-entrada input:not(:placeholder-shown),
.animacao-entrada textarea:focus, .animacao-entrada textarea:not(:placeholder-shown),
.animacao-entrada input[type = "file"]:valid, input[type = "date"]:valid {
    border-color: rgba(2, 151, 17, 0.6);
    box-shadow: 0 8px 6px -4px rgba(2, 151, 17, 0.6);
}

.animacao-entrada input:focus + span,
.animacao-entrada textarea:focus + span {
  color: red;
}

span {
    font-weight: 600;
}

input, textarea, input[type = "file"]:invalid {
    border: transparent;
    border-block-end: 2px solid rgba(219, 4, 4, 0.6);
    background: transparent;
    color: rgb(47, 46, 46);
    font-weight: 500;
    font-size: 1.5rem;
    outline: none;
    box-shadow: 0 8px 6px -4px rgba(219, 4, 4, 0.6);
}

input[type="submit"] {
    font-size: 1.2rem;
    font-weight: 600;
}

fieldset .interno {
    border: 3px rgba(2, 151, 17, 0.6) solid;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.6);
}

h4 {
    font-weight: 700;
}

.botao {
    border-radius: 8px;
    border: transparent;
    box-shadow: none;
}

.botao:disabled, .botao:disabled:hover {
    background-color: gray;
}

.botao-adicionar, .botao-adicionar:active {
    background-color: rgba(3, 147, 17, 0.9);
    color: white;
    font-weight: 600;
}

.botao-adicionar:hover {
    background-color: rgba(3, 147, 17, 0.3);
}

.botao-remover, .botao-remover:active {
    background-color: rgba(234, 0, 0, 0.9);
    color: white;
    font-weight: 600;
}

.botao-remover:hover {
    background-color: rgba(234, 0, 0, 0.3);
}

input[type="file"] {
    display: none !important;
}

.botao-criar {
    background-color: rgba(20, 3, 251, 0.9);
    color: #d5d5d5;
}

.botao-criar:hover {
    background-color: rgba(20, 3, 251, 0.6);
}

[id *= "erro"] {
    background-color: #e9434b;
    color: white;
    height: auto;
    font-size: 1.3rem;
}

.opaco {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(8px);
    z-index: 3;
    position: fixed;
    width: 100% !important;
    height: 100% !important;
}

#barra-carregamento {
    background-color: rgba(3, 147, 17, 0.9);
}