@media (max-width: 768px) {
    .login-logo {
        width: 75% !important;
    }

    [id *= "erro"] {
        height: auto !important;
    }
}

.login-logo {
    width: 40% !important;
}

.fundo {
    background-color: var(--cor-fundo-cards);
    box-shadow: var(--box-shadow-cards);
    border-radius: 5%;
}

[id *= "erro"] {
    background-color: var(--vermelho-fundo-erros);
    color: var(--branco);
    height: 2.5rem;
}

input:not([type = "checkbox"]) {
    border: transparent;
    border-block-end: 1px solid var(--vermelho-escuro);
    background: transparent;
    color: var(--cor-label-inputs-form);
    font-weight: 500;
    font-size: 1.5rem;
    outline: none;
    box-shadow: 0 8px 6px -6px var(--vermelho-escuro);
}

.animacao-entrada {
    position: relative;
}

.animacao-entrada span {
    position: absolute;
    color: var(--cor-label-inputs-form);
    top: 0;
    left: 3%;
    transition: all 0.5s;
}

.animacao-entrada input:valid + span,
.animacao-entrada input:focus + span {
  transform: translateY(-80%);
}

.animacao-entrada input:focus, .animacao-entrada input:valid{
    border-color: var(--verde-principal);
    box-shadow: 0 8px 6px -6px var(--verde-principal);
}

.animacao-entrada input:focus + span {
  color: var(--vermelho);
}

.bg-light {
    background-color: var(--prata) !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: var(--verde-botao-login) !important;
}

.btn-primary:hover {
    background-color: var(--verde-botao-login-hover) !important;
}

main {
    background-color: unset;
}