main {
    min-height: 90vh;
    max-height: 90vh;
    width: 40vw;
}

.codigo {
    overflow-y: auto;
    display: none;
    width: 30vw;
}

.logo {
    width: 360px;
    height: 360px;
}

.botao-mostrar {
    background-color: var(--verde-claro-botao-barra-carregamento);
    color: var(--branco);
    font-weight: var(--intensidade-fonte-botoes-labels);
}

.botao-mostrar:hover {
    background-color: var(--verde-claro-botao-barra-carregamento-hover);
}

pre {
    white-space: pre-wrap;
}

@media (max-width: 1000px) {
    .logo {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 120px;
        height: 120px;
    }
}