.botao-menu {
    background-color: var(--vermelho-botao-menu);
    text-decoration: none;
    color: var(--branco);
    border-radius: 8px;
    font-weight: var(--intensidade-fonte-botoes-labels);
    box-shadow: var(--box-shadow-cards);
    width: 75%;
    display: block;
}

.botao-menu:hover {
    background-color: var(--vermelho-botao-menu-hover);
    transition: all 0.5s;
}

main {
    width: 70vw;
    padding: 6rem 0;
    max-width: 400px;
    min-width: 300px;
    position: relative;
    margin-bottom: 6rem !important;
}