{% extends "base.html" %}
{% from "formularios/macros.html" import renderiza_erro_campo, renderiza_campo, renderiza_erro_lista_campos, renderiza_tabelas_campos with context %}
{% block title %}

Projeto Presenças - Formulário de cadastro de artistas e obras

{% endblock %}

{% block content %}

<main>

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div>
            {{ renderiza_campo(form.nome) }}
            {{ renderiza_erro_campo(form.nome.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.trajetoria) }}
            {{ renderiza_erro_campo(form.trajetoria.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.producao) }}
            {{ renderiza_erro_campo(form.producao.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.pesquisante) }}
            {{ renderiza_erro_campo(form.pesquisante.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.email_pesquisante) }}
            {{ renderiza_erro_campo(form.email_pesquisante.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.data_nascimento) }}
            {{ renderiza_erro_campo(form.data_nascimento.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.genero) }}
            {{ renderiza_erro_campo(form.genero.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.pagina) }}
            {{ renderiza_erro_campo(form.pagina.name) }}
        </div>

        <div>

            <h4>Lista de imagens</h4>

            <fieldset name="imagens">
                {{ renderiza_tabelas_campos(form.imagens) }}
                <button id="adicionar_campo_imagem" type="button">Adicionar campo</button>
            </fieldset>

        </div>

        <div>

            <h4>Links</h4>

            <fieldset name="links">
                {{ renderiza_tabelas_campos(form.links) }}
                <button id="adicionar_campo_link" type="button">Adicionar link</button>
            </fieldset>

        </div>

        <div>
            <h4>Palavras-chave</h4>

            <fieldset name="palavras_chave">
                {{ renderiza_tabelas_campos(form.palavras_chave) }}
                <button id="adicionar_campo_palavras_chave" type="button">Adicionar campo</button>
            </fieldset>
        </div>

        <div>
            <h4>Última atualização</h4>
            {{ form.ultima_atualizacao }}
            {{ renderiza_erro_campo(form.ultima_atualizacao.name) }}
        </div>

        <input type="submit" value="Criar artista">
    </form>
</main>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='formulario_criacao_js.min.js') }}"></script>

{% endblock %}