{% extends "base.html" %}

{% block title %}

Projeto Presenças - Formulário de cadastro de artistas e obras

{% endblock %}

{% block content %}

<main>

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div>
            {{ form.nome.label }}
            {{ form.nome }}

              {% if form.nome.errors %}
                {% for error in form.nome.errors %}
                  <div>
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
        </div>

        <div>
            <h4>Lista de imagens</h4>

            {{ form.imagens }}

            {% if form.imagens.errors %}
                {% for error in form.imagens.errors %}
                  <div>
                    {{ error }}
                  </div>
                {% endfor %}
            {% endif %}

            <button id="adicionar_campo_imagem" type="button">Adicionar campo</button>
        
        </div>

        <div>
            {{ form.trajetoria.label }}
            {{ form.trajetoria }}

              {% if form.trajetoria.errors %}
                {% for error in form.trajetoria.errors %}
                  <div>
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
          </div>
          <div>
            {{ form.producao.label }}
            {{ form.producao }}
              {% if form.producao.errors %}
                {% for error in form.producao.errors %}
                  <div>
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
          </div>
          <div>
            <h4>Links</h4>

            {{ form.links }}

            {% if form.links.errors %}
                {% for error in form.links.errors %}
                  <div>
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}

            <button id="adicionar_campo_link" type="button">Adicionar link</button>
            
          </div>

          <div>
            <h4>Última atualização</h4>
            {{ form.ultima_atualizacao }}
          </div>

        <input type="submit" value="Criar artista">
    </form>
</main>

<script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
<script>

    const MAX_LINKS = 8;
    const MAX_IMAGENS = 12;

    function remove_ultimo_campo(evento)
    {
        const [nome, variavel, nome_botao_adicionar] =
                [evento.target.name, evento.data.variavel, evento.data.nome_botao_adicionar];
                
        $(`#${variavel} > tbody > tr `).filter( (_, elemento) => {
            if ($(elemento).find(`[name*="${nome}"]`).length > 0)
                return elemento;
        }).remove()

        if ($(`#${variavel} > tbody`).children().length == (variavel == 'links' ? MAX_LINKS - 1 : MAX_IMAGENS - 1))
            $(`#${nome_botao_adicionar}`).prop('disabled', false);
    }

    function adiciona_bloco(evento)
    {
        const [variavel, nome_botao_remover, nome_botao_adicionar, callback] =
            [evento.data.variavel, evento.data.nome_botao_remover, evento.data.nome_botao_adicionar, evento.data.callback];

        if ($(`#${variavel} > tbody`).children().length == 0)
        {
            let templateURL;

            if (variavel == 'links')
                templateURL = $($.parseHTML('{{ form.links.__html__() }}')).find(':nth-child(1)').get(1).outerHTML;
            else
                templateURL = $($.parseHTML(`{{ form.imagens.__html__() }}`)).find(':nth-child(1)').get(1).outerHTML;

            $(`#${variavel} > tbody`).append(templateURL);

            $(`#${variavel} tbody tr [name*="-${nome_botao_remover}"]:last`).on("click", evento.data, callback);

            return;
        }

        let ultimoIdCampo = String($(`#${variavel} > tbody > tr:last > th > label:first`).attr('for'));
        let [labelForAnterior, novoId] = [ultimoIdCampo.split('-')[0], Number(ultimoIdCampo.split('-')[1]) + 1];

        let novoCampo = $(`#${variavel} > tbody > tr:last`).clone();

        $(novoCampo).html($(novoCampo).html().replaceAll(ultimoIdCampo, ultimoIdCampo.split('-')[0] + '-' + novoId));

        $(`#${variavel}`).append($(novoCampo).prop('outerHTML'));

        $(`#${variavel} tbody tr [name*="-${nome_botao_remover}"]:last`).on("click", evento.data, callback);

        if ($(`#${variavel} > tbody`).children().length == (variavel == 'links' ?  MAX_LINKS : MAX_IMAGENS))
            $(`#${nome_botao_adicionar}`).prop('disabled', true);
    }

    $('#adicionar_campo_link').on('click', {variavel : 'links', nome_botao_remover : 'remover_campo_link',
                        nome_botao_adicionar : 'adicionar_campo_link', callback: remove_ultimo_campo}, adiciona_bloco);

    $('#adicionar_campo_imagem').on('click', {variavel : 'imagens', nome_botao_remover : 'remover_campo_imagem',
        nome_botao_adicionar : 'adicionar_campo_imagem', callback: remove_ultimo_campo}, adiciona_bloco);

    $('#links [name*="-remover_campo_link"]').on("click", {variavel: 'links', nome_botao_adicionar : 'adicionar_campo_link'}, remove_ultimo_campo)
    $('#imagens [name*="-remover_campo_imagem"]').on("click", {variavel: 'imagens', nome_botao_adicionar : 'adicionar_campo_imagem'}, remove_ultimo_campo)

    $(':root').on("change", 'input[type="file"]', function (e) {
        const arquivos = e.target.files;

        for (let i = 0 ; i < arquivos.length ; i++)
        {
            if (arquivos[i].name.search(/(.png|.jpeg|.jpg)$/g) == -1)
                $(`input[name="${e.target.name}"]`).val('')
        }
    });

</script>

{% endblock %}
