{% extends "base.html" %}

{% block title %}

Projeto Presenças - Formulário de cadastro de artistas e obras

{% endblock %}

{% block content %}

<main>

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div>
            {{ renderiza_campo(form.nome) }}
            {{ renderiza_erro_campo(form.nome.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.trajetoria) }}
            {{ renderiza_erro_campo(form.trajetoria.name) }}
        </div>

        <div>
            {{ renderiza_campo(form.producao) }}
            {{ renderiza_erro_campo(form.producao.name) }}
        </div>

        <div>

            <h4>Lista de imagens</h4>

            <fieldset name="imagens">
                {{ renderiza_tabelas_campos(form.imagens) }}
                <button id="adicionar_campo_imagem" type="button">Adicionar campo</button>
            </fieldset>

        </div>

        <div>

            <h4>Links</h4>

            <fieldset name="links">
                {{ renderiza_tabelas_campos(form.links) }}
                <button id="adicionar_campo_link" type="button">Adicionar link</button>
            </fieldset>

        </div>

        <div>
            <h4>Última atualização</h4>
            {{ form.ultima_atualizacao }}
            {{ renderiza_erro_campo(form.ultima_atualizacao.name) }}
        </div>

        <input type="submit" value="Criar artista">
    </form>
</main>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
<script>

    const MAX_LINKS = 8;
    const MAX_IMAGENS = 12;

    function remove_ultimo_campo(evento)
    {
        const [nome, variavel, nome_botao_adicionar] =
                [evento.target.name, evento.data.variavel, evento.data.nome_botao_adicionar];
                
        $(`#${variavel} > tbody > tr `).filter( (_, elemento) => {
            if ($(elemento).find(`[name*="${nome}"]`).length > 0)
                return elemento;
        }).remove();

        if ($(`#${variavel} > tbody`).children().length == (variavel == 'links' ? MAX_LINKS - 1 : MAX_IMAGENS - 1))
            $(`#${nome_botao_adicionar}`).prop('disabled', false);
    }

    function adiciona_bloco(evento)
    {
        const [variavel, nome_botao_remover, nome_botao_adicionar, callback] =
            [evento.data.variavel, evento.data.nome_botao_remover, evento.data.nome_botao_adicionar, evento.data.callback];

        if ($(`#${variavel} > tbody`).children().length == 0)
        {
            let template_URL;

            if (variavel == 'links')
                template_URL = $($.parseHTML(`{{ renderiza_tabelas_campos(form.links) }}`)).find(':nth-child(1)');
            else
                template_URL = $($.parseHTML(`{{ renderiza_tabelas_campos(form.imagens) }}`)).find(':nth-child(1)');

            $(template_URL).children('[id *= -erro-]').remove();
            template_URL = $(template_URL).find(":nth-child(1)").get(0).outerHTML;

            $(`#${variavel} > tbody`).append(template_URL);

            $(`#${variavel} tbody tr [name*="-${nome_botao_remover}"]:last`).on("click", evento.data, callback);

            return;
        }

        let ultimo_id_campo = String($(`#${variavel} > tbody > tr:last > th > label:first`).attr('for'));
        let [label_for_anterior, novo_id] = [ultimo_id_campo.split('-')[0], Number(ultimo_id_campo.split('-')[1]) + 1];

        let novo_campo = $(`#${variavel} > tbody > tr:last`).clone();

        $(novo_campo).find("[id *= -erro-]").remove();

        $(novo_campo).html($(novo_campo).html().replaceAll(ultimo_id_campo, label_for_anterior + '-' + novo_id));

        $(`#${variavel}`).append($(novo_campo).prop('outerHTML'));

        $(`#${variavel} tbody tr [name*="-${nome_botao_remover}"]:last`).on("click", evento.data, callback);

        if ($(`#${variavel} > tbody`).children().length == (variavel == 'links' ?  MAX_LINKS : MAX_IMAGENS))
            $(`#${nome_botao_adicionar}`).prop('disabled', true);
    }

    $('#adicionar_campo_link').on('click', {variavel : 'links', nome_botao_remover : 'remover_campo_link',
                        nome_botao_adicionar : 'adicionar_campo_link', callback: remove_ultimo_campo}, adiciona_bloco);

    $('#adicionar_campo_imagem').on('click', {variavel : 'imagens', nome_botao_remover : 'remover_campo_imagem',
        nome_botao_adicionar : 'adicionar_campo_imagem', callback: remove_ultimo_campo}, adiciona_bloco);

    $('#links [name*="-remover_campo_link"]').on("click", {variavel: 'links', nome_botao_adicionar : 'adicionar_campo_link'}, remove_ultimo_campo);
    $('#imagens [name*="-remover_campo_imagem"]').on("click", {variavel: 'imagens', nome_botao_adicionar : 'adicionar_campo_imagem'}, remove_ultimo_campo);

    $(':root').on("change", 'input[type="file"]', function (e) {
        const arquivos = e.target.files;

        for (let i = 0 ; i < arquivos.length ; i++)
        {
            if (arquivos[i].name.search(/(.png|.jpeg|.jpg|.jfif)$/g) == -1)
                $(`input[name="${e.target.name}"]`).val('');
        }
    });

    ['nome', 'trajetoria', 'producao', 'ultima_atualizacao'].forEach(campo => {
        $(`#${campo}`).on("input", function (evento) {
            $('#' + campo + '-erro').remove();
            $(evento.target).off("input");
        });
    });

    ['links', 'imagens'].forEach(campo => {
        $(`#${campo} td input`).on("input", function (evento) {
            $(evento.target).parent($(`#${evento.target.id}`)).next('[id *= -erro-]').remove();
            $(evento.target).off("input");
        });
    });

</script>

{% endblock %}

{% macro renderiza_tabelas_campos(campo_form) -%}
    <table id="{{ campo_form.name }}">
        {% for i in range(0, campo_form|length) %}
            <tr>
                <th><label for="{{ campo_form.name }}-{{i}}"></label></th>
                <td>
                    <fieldset name="{{ campo_form[i].name }}">
                        {% for campo in campo_form[i] %}
                            {{ renderiza_campo(campo) }}
                            {% set indice_nome_var = campo.name.split('-')|length %}
                            {% set nome_var = campo.name.split('-')[indice_nome_var - 1] %}
                            {{ renderiza_erro_lista_campos(campo_form.name, i, nome_var ) }}
                        {% endfor %}       
                    </fieldset>
                </td>
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}

{% macro renderiza_campo(campo) -%}
    <div>
        {{ campo.label }}
        {{ campo }}
    </div>
{%- endmacro %}

{% macro renderiza_erro_campo(campo) -%}
    {% if form.erros.get(campo) %}
        <div id="{{ campo }}-erro">
            {{ form.erros.get(campo) }}
        </div>
    {% endif %}
{%- endmacro %}

{% macro renderiza_erro_lista_campos(campo, indice, erro_var) -%}
    {% if form.erros.get(campo) != None %}
        {% if form.erros.get(campo)[indice].get(erro_var) %}
            <div id="{{ campo }}-{{ indice }}-erro-{{ erro_var }}">
                {{ form.erros.get(campo)[indice].get(erro_var) }}
            </div>
        {% endif %}
    {% endif %}
{%- endmacro %}